name: Code linting

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          uv sync

      - name: ruff check
        run: |
          uv run ruff check .

      - run: echo "Linting workflow ran"
