# pre-commit auto-update workflow
# Dependabot does not support updating pre-commit so this workflow will do that
name: Pre-commit auto-update

on:
  push:
    branches: [main]

  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Run pre-commit
        run: uv run pre-commit run --all-files 
      
      - name: Autoupdate workflow
        run: uv run pre-commit autoupdate
