# pre-commit auto-update workflow
# Dependabot does not support updating pre-commit so this workflow will do that
name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 0 * * *" # every day at midnight UTC
  workflow_dispatch: {} # manual triggering

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Run pre-commit autoupdate
        run: uv run pre-commit autoupdate || true

      - name: Run pre-commit (apply fixes)
        run: uv run pre-commit run --all-files || true

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6 # create a PR if there are changes
        with:
          token: ${{ secrets.PAT_FOR_WORKFLOWS }}
          branch: update/pre-commit-autoupdate
          delete-branch: true
          title: Auto-update pre-commit hooks
          commit-message: Auto-update pre-commit hooks
          body: |
            Update versions of tools in pre-commit configs to latest version.
          labels: dependencies
