name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.13"]
        pytorch-version: ["2.6.0"] # Default version installed 
        include: #Test additional pytorch versions (2.5.0 and 2.7.0)
          - operating-system: "ubuntu-latest"
            python-version: "3.12"
            pytorch-version: "2.5.0"
          - operating-system: "ubuntu-latest"
            python-version: "3.13"
            pytorch-version: "2.5.0"
          - operating-system: "ubuntu-latest"
            python-version: "3.12"
            pytorch-version: "2.7.0"
          - operating-system: "ubuntu-latest"
            python-version: "3.13"
            pytorch-version: "2.7.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync

      - name: Run tests with pytest
        run: |
          uv run pytest tests/
